.grid-container{
    display:grid;
    grid-template-columns:50% 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 600;
    margin: 0px;
}
.item1{
    margin-top:60px;
    margin-left:20px;
    
}
.logo{
    height:60px;
    max-width:auto;
}
.banner{
    height: auto;
    width:100%;
}
.links{
    text-decoration:none;
    text-align: center;
    padding:20px;
    float:right;
    height: 15px;
    width:15%;
    color:black;
}
.sign-up{
    
    background-color: black;
    color:white;
    margin-left:120px;
    margin-right:50px;
}
h1{
    margin-bottom:0px;
    margin-top:50px;
}
h2{
    margin-top:0px;
    color:grey
}
.locationinput{
    width:70%;
    height:25px;
    color:gray;
    margin:40px auto auto 0px;
    padding:10px;
    border-color: #fc8019;
    font-size: 18px;
    font-weight: 500;
}
.Locate-me{
    padding: 10px;
    border-color: #fc8019;
    border:none;
    background-color: transparent;
    position:absolute;
    top: 315px;
    left:470px;
}
button:hover{
    background-color:gray;
}
.find-food{
    text-decoration:none;
    cursor:pointer;
    text-align: center;
    /* padding: 10px; */
    background-color: #fc8019;
    color:white;
    weight:600;
    font-size:14px;
    margin-left: 0px;
    display:inline-block;
    line-height:50px;
    padding-left:10px;
    padding-right:10px;
}
.cities{
    font-size: 15px;
    color:#a9abb2;
    margin:30px 0 10px 0;
    letter-spacing:-.2px;
}
.list{
    font-weight:600;
    font-size: 16px;
    margin-right:10px;
    color: #686b78;
    line-height:1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.list:nth-child(even){
    color:lightslategray;
}
.info-container{
    display:grid;
    grid-template-columns:auto auto  auto;
    background-color:#2b1e16;
    font-size:16px;
    font-weight:500px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height: 200px;

}
.text-head{
    color:aliceblue;
    text-align: center;
}
.text-detail{
    color:white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
}